.header::before {
    background-color: #009688;
}
button.min_btn{
    background-color: transparent !important;
    color: #009688;
    border: 1px solid #009688 !important;
}
button.min_btn:hover {
    background-color: #009688 !important;
    color: white;
}

nav .groups .menu ul li a.active {
    color: #009688;
}

.overlay_rud {
    background-color: #009688;
}

span.border-b {
    border-bottom: 2px solid #009688;
}

.product-card ul li button {
    background: #009688c9;
}

.product-card ul li button:hover {
    background-color: #009688;
}

li.ml-2.btn.btn-primary.mt-1.control {
    background: #009688;
    border-color: #03766b;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
    background: #03766b;
    border-color: #03766b;
}

button.btn.btn-primary.mb-2 {
    background-color: #009688;
    border-color: #009688;
}

.footer i.fa.fa-heart {
    color: #009688;
}
nav .groups .menu ul li a:hover, nav .groups .setting span:hover i{
    color: #03766b;
}
nav .groups .menu ul li a::before{
    background: #03766b;
}